.open-nav{
    display: block !important;
}

#nav-container{
    background: linear-gradient(rgba(5,7, 12, 0.8), rgba(5,7, 12, 0.6), rgba(5,7, 12, 0.4));
    position: fixed;
    top: 0;
    width: 100%;
}

#nav-container:after{    
    background: linear-gradient(rgba(5,7, 12, 0.4), rgba(5,7, 12, 0.25), rgba(5,7, 12, 0.05), rgba(5,7, 12, 0));
    width: 100%;
    content: "";
    position: absolute;
    bottom: auto;
    height: 50px;
    z-index: 2;
}

#nav-container #nav-section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* height: 100px; */
    width: 100%;
    min-width: 300px;
    max-width: 2000px;
    margin: 0 auto;
    /* padding: 0 10px; */
}

#nav-container #nav-section #nav-drawer {
    background-color: transparent;
    border: none;
    width: 75px;
    /* height: 100%; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 10px;
}

#nav-container #nav-section .part-nav{
    height: 100px;
}

#nav-container #nav-section #nav-left.part-nav{
    width: 100%;
    /* height: 100%; */
    max-width: fit-content;
    margin: 10px 0 0 10px;
    /* margin-left: 10px; */
    /* flex-basis: 80%; */
}

#nav-container #nav-section #nav-left.part-nav #enlace-home{
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

#nav-container #nav-section #nav-left.part-nav #enlace-home #imagen-nav{
    height: 55%;
    transition: transform 1s;
    margin-right: 5px;
}

#nav-container #nav-section #nav-left.part-nav:hover #enlace-home #imagen-nav{
    transform: rotate(360deg);
}

#nav-container #nav-section #nav-left.part-nav #enlace-home div p{
    margin: 0;
    color: white;
    font-size: 1.2rem;
}

#nav-container #nav-section #nav-right.part-nav{
    /* margin-right: 10px; */
    /* background: linear-gradient(to right, rgba(5,7, 12, 0.8), rgba(5,7, 12, 0.6), rgba(5,7, 12, 0.4)); */
    width: 100vh;
    height: 100%;
    display: none;
    margin-right: 10px;
    /* position: fixed; */
    /* left: -250px; */
    /* top: 100px; */
    /* z-index: 1; */
}

#nav-container #nav-section #nav-right.part-nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-container #nav-section #nav-right.part-nav ul li{
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0 10px;
    font-size: 1.4rem;
}

#nav-container #nav-section #nav-right.part-nav ul li > a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

#nav-container #nav-section #nav-right.part-nav ul li > a span{
    position: relative;
}

#nav-container #nav-section #nav-right.part-nav ul li > a span::after{
    width: 0%;
}

#nav-container #nav-section #nav-right.part-nav ul li > a:hover span:last-child::after{
    width: 100%;
    transition: 3s;
}

#nav-container #nav-section #nav-right.part-nav ul li > a > svg{
    margin-right: 5px;
}

@media only screen and (min-width: 600px) {
    #nav-container #nav-section{
        justify-content: space-between;
    }

    #nav-container #nav-section #nav-right.part-nav ul{
        flex-direction: row;
        /* height: 100%; */
    }

    
    #nav-container #nav-section #nav-right.part-nav ul li{
        font-size: 1.3rem;
    }

    #nav-container #nav-section #nav-drawer {
        display: none;
    }

    #nav-container #nav-section #nav-right.part-nav{
        display: block;
        width: fit-content;
        /* height: 100px; */
    }

    /* #nav-container #nav-section #nav-left.part-nav{
        margin-left: 10px;
    } */
}