#nav-container{
    background: linear-gradient(rgba(5,7, 12, 0.8), rgba(5,7, 12, 0.6), rgba(5,7, 12, 0.4));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
}

#nav-container:after{    
    background: linear-gradient(rgba(5,7, 12, 0.4), rgba(5,7, 12, 0.25), rgba(5,7, 12, 0.05), rgba(5,7, 12, 0));
    width: 100%;
    content: "";
    position: absolute;
    bottom: auto;
    height: 50px;
    z-index: 2;
}

#nav-container #nav-section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    min-width: 300px;
    max-width: 2000px;
    margin: 0 auto;
}

#nav-container #nav-section #nav-drawer {
    background-color: transparent;
    border: none;
    width: 75px;
    height: 75px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 10px;
}

#nav-container #nav-section .part-nav{
    height: 100px;
}

#nav-container #nav-section #nav-left.part-nav{
    width: 100%;
    max-width: fit-content;
    margin: 0 0 0 10px;
}

#nav-container #nav-section #nav-left.part-nav #enlace-home{
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

#nav-container #nav-section #nav-left.part-nav #enlace-home #imagen-nav{
    height: 55%;
    transition: transform 1s;
    margin-right: 5px;
}

#nav-container #nav-section #nav-left.part-nav:hover #enlace-home #imagen-nav{
    transform: rotate(360deg);
}

#nav-container #nav-section #nav-left.part-nav #enlace-home div p{
    margin: 0;
    color: white;
    font-size: 1.2rem;
}

#nav-container #nav-section #nav-right.part-nav{
    width: 100vh;
    height: 0px;
    overflow: hidden;
    position: relative;
}

#nav-container #nav-section #nav-right.part-nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 5px 32px 10px;
    position: absolute;
    bottom: 10px;
}

#nav-container #nav-section #nav-right.part-nav ul li{
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0 10px;
    font-size: 1.4rem;
}

#nav-container #nav-section #nav-right.part-nav ul li:not(:first-child){
    margin: 7px 0;
}

#nav-container #nav-section #nav-right.part-nav ul li:first-child{
    margin: 0 0 7px;
}

#nav-container #nav-section #nav-right.part-nav ul li > a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

#nav-container #nav-section #nav-right.part-nav ul li > a span{
    position: relative;
}

#nav-container #nav-section #nav-right.part-nav ul li > a span::after{
    width: 0%;
}

#nav-container #nav-section #nav-right.part-nav ul li > a:hover span:last-child::after{
    width: 100%;
    transition: 3s;
}

#nav-container #nav-section #nav-right.part-nav ul li > a > span.icon-container{
    margin-right: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
}

@media only screen and (min-width: 780px) {
    #nav-container #nav-section{
        justify-content: space-between;
    }

    #nav-container #nav-section #nav-right.part-nav ul{
        flex-direction: row;
        margin: 0;
        position: initial;
    }

    
    #nav-container #nav-section #nav-right.part-nav ul li{
        font-size: 1.3rem;
        margin: 0 10px;
    }

    #nav-container #nav-section #nav-right.part-nav ul li:not(:first-child){
        margin: 0 10px;
    }

    #nav-container #nav-section #nav-right.part-nav ul li:first-child{
        margin: 0 10px;
    }

    #nav-container #nav-section #nav-drawer{
        display: none;
    }

    #nav-container #nav-section #nav-right.part-nav{
        display: block;
        width: fit-content;
        height: 100%;
        margin-right: 10px;
    }
    
    #nav-container #nav-section #nav-right.part-nav ul li > a > span.icon-container{
        margin-right: 5px;
        width: initial;
        height: initial;
    }
}

@media only screen and (max-width: 779px) {
    #nav-container{
        --tamanio-nav: 220px;
    }

    .open-nav{
        animation-name: open_nav_animation;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        transition-timing-function: ease-in;
    }
    
    @keyframes open_nav_animation {
        0%{
            display: block;
            height: 0px;
        }   
        
        100%{
            height: var(--tamanio-nav);
        }
    }

    .close-nav{
        animation-name: close_nav_animation;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        transition-timing-function: ease-out;
    }
    
    @keyframes close_nav_animation {
        0%{
            height: var(--tamanio-nav);
        }   
        
        100%{
            height: 0px;
            display: none;
        }
    }

    
    .actived-button-nav{
        animation-name: actived_button_nav_animation;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    @keyframes actived_button_nav_animation {
        0%{
            pointer-events:none;
        }   
        
        100%{
            pointer-events:auto;
        }
    }
}