.project-container {
  display: flex;
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 20px 0;
}

.project-container article.project-card {
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 15px;
  /* max-width: 300px; */
  /* margin: 10px; */
}

.project-container .project-image img {
  /* max-width: 300px; */
  width: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .project-container{ 
    flex-basis: 50%; 
    padding: 20px;
  }

  .project-container:nth-child(odd) {
    padding-left: 0;
  }

  .project-container:nth-child(even) {
    padding-right: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .project-container{ 
    flex-basis: 23%; 
    padding: 0;
  }
}

/* .project-container .project-card {
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project-container.project-image {
  width: 100%;
  height: 100%;
}

.project-container .project-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.project-container .project-information {
  padding: 10px;
}

.project-container .project-information p {
  width: 80%;
  margin-bottom: 5px;
  font-size: 1.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.project-container .project-information .project-type{
  background-color: grey;
  padding: 0 5px;
  border-radius: 5px;
  color: white;
}



@media only screen and (min-width: 769px) {
  .project-container {
    flex-basis: 50%;
    max-width: 400px;
    padding: 20px;
  }

  .project-container:nth-child(odd) {
    padding-left: 0;
  }

  .project-container:nth-child(even) {
    padding-right: 0;
  }
}

@media only screen and (min-width: 1024px){
  .project-container{ 
      flex-basis: 25%; 
      padding: 20px;
  }
  
  .project-container:nth-child(odd):not(.project-container:first-child) {
    padding-left: 20px;
  }

  .project-container:nth-child(even):not(.project-container:last-child)  {
    padding-right: 20px;
  }
} */
