 #home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(rgba(5,7, 12, 0.45), rgba(5,7, 12, 0.45)), 
            url('../../assets/home/background-home.jpg') no-repeat;
    /* padding-top: 100px; */
    background-size: cover;
    background-position: center;
}

#home-container #home-section #presentation-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-container #home-section #presentation-content #presentation-content-image{
    border-radius: 100%;
    overflow: hidden;
    width: fit-content;
    margin-bottom: 20px;
} 

#home-container #home-section #presentation-content #presentation-content-image #presentation-image{
    width: 250px;
}

#home-container #home-section #presentation-content #presentation-content-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
} 

#home-container #home-section #presentation-content #presentation-content-text h1{
    color: white;
    text-align: center;
}

#home-container #home-section #presentation-content #presentation-content-text h2#WritterLoop{
    color: var(--blanco);
    padding-top: 20px;
    max-width: 250px;
    max-height: 60px;
    min-height: 60px;
    text-align: left;
    font-size: 1.5rem;
}

@media only screen and (min-width: 600px) {
    #home-container #home-section #presentation-content{
        flex-direction: row;
    }
    
    #home-container #home-section #presentation-content #presentation-content-image{
        margin-bottom: 0;
    } 
    
    #home-container #home-section #presentation-content #presentation-content-text{
        margin-left: 20px;
        align-items: flex-start;
    } 

    #home-container #home-section #presentation-content #presentation-content-text div#WritterLoop{
        text-align: left;
    }
}
















/*
.home-container #home-section #presentation-content{
    display: flex;
} */

/* From here we can control the rgb background*/
/* .home-container #home-section #presentation-content-image,
.home-container #home-section #presentation-content-text h1::after{
    background: linear-gradient(125deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 5000px 5000px;
    animation: rainbow 18s ease infinite;
} */

/* .home-container #home-section #presentation-content-image{
    border-radius: 100%;
    overflow: hidden;
    margin-right: 50px;
} */

/* .home-container #home-section #presentation-content-text{
    min-width: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
} */


/* .home-container #home-section #presentation-content-text h1{
    color: var(--blanco);
    margin-bottom: 20px;
    position: relative;
} */

/* .home-container #home-section #presentation-content-text h1::after{
    width: 100%;
    content: "";
    height: 5px;
    position: absolute;
    left: 0;
    bottom: -20px;
} */